<% include ../partials/header %>
<% if (message) { %>
<div class="alert alert-success text-center" role="alert">
    <%=message%>
</div>
<% } %>
<h1 class="text-center">Admin Dashboard</h1>
<div class="jumbotron text-center">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione accusantium esse aperiam id harum labore
        similique,
        minima quas tempore culpa ea. Saepe et rerum ipsam molestias! Vel dolores qui natus?</p>
    <a class="btn btn-info" href="/admin/audits/new">Create New Audit</a>
    <a class="btn btn-info" href="/admin/audits/new/bulk">Create Multiple Audits</a>

    <a href="/admin/employees/new" class="btn btn-primary">Add New Employee</a>
    <a href="/admin/employees" class="btn btn-primary">Manage Employees</a>
</div>

<header>

    <!-- Sort Audits -->
    <div class="container">
        <div class="row">

            <form class="col-md-6" action="/admin/sort-by" method="GET">
                <div class="form-group">
                    <label for="sortBy">Sort by:</label>
                    <select class="form-control" id="sortBy" name="sortBy">
                        <option value="" selected disabled>
                            Select Sort By Criteria
                        </option>
                        <option value="flagForReview">
                            Flagged for Review
                        </option>
                        <option value="auditStatusOpen">Open Audits</option>
                        <option value="auditStatusClosed">Closed Audits</option>
                        <option value="unassigned">Unassigned Audits</option>
                        <option value="criticalErrors">Critical Audit Errors</option>
                        <option value="showAllAudits">Show All Audits</option>
                    </select>
                </div>
                <button class="btn btn-info">Sort</button>
            </form>


            <form class="col-md-6" action="/admin/sort-by-employee" method="GET">
                <div class="form-group">

                    <label for="sortByEmployee">View Single Employee's Audits:</label>
                    <select class="form-control" id="sortByEmployee" name="sortByEmployee">
                        <option value="" selected disabled>
                            Select Employee
                        </option>

                        <% employees.forEach(employee => { %>
                        <option value="<%=employee._id%>">
                            <%=employee.firstName%>
                            <%=employee.lastName%>

                        </option>
                        <%  }) %>
                    </select>
                </div>

                <button class="btn btn-info">View</button>
            </form>
        </div>

    </div>


    <% if (audits.length <= 0) {%>
    <h2 class="text-center">No Audits</h2>
    <%} else {%>
    <h2 class="text-center">Viewing
        <% if (audits.length > 1) { %>
        All <%=audits.length%> Audits
        <% } else { %>
        <%=audits.length%> Audit
        <% } %>
    </h2>
</header>

<!-- CARDS -->
<div class="container">
    <div class="row">
        <%  audits.forEach(audit => { %>
        <!-- Add class to differentiate which audits are closed. -->
        <div class="col-md-6 col-lg-4 mx-auto card 
            <% if (!audit.auditInProgress) { %>
                <%="audit-complete"%>
                <%}%>" 
                style="margin-bottom: 1rem">
                <!-- CARD HEADER -->
                <div class=" card-header">
                    <% if (audit.auditInProgress) { %>
                    <h4 class=" text-center text-warning">
            <i class="fas fa-edit"></i>

            In Progress
            </h4>
            <%  } else { %>
            <h4 class="text-center text-success">
                <i class="fas fa-check"></i>
                Audit Complete
            </h4>
            <%   } %>

            <% if (audit.criticalErrors) { %>
            <h4 class="text-center text-danger">
                <i class="fas fa-exclamation-triangle"></i>
                Critical Errors Found
            </h4>
            <% } else { %>
            <h4 class="text-center text-success"><i class="fas fa-check"></i>
                No Critical Errors Found
            </h4>

            <% } %>
        </div>
        <!-- CARD BODY -->
        <div class="card-body">
            <h5 class="card-title text-center">
                <%=audit.callNumber%>
            </h5>
            <h6 class="card-subtitle">
                <strong>Calltaker Name</strong>:
                <%=audit.calltakerName%>
            </h6>
            <p class="card-body">Audit Status:
                <%=audit.auditStatus%>
            </p>

            <% if(audit.flagForReview && !audit.employeeReviewedAudit){ %>
            <p class="lead text-warning text-center">
                <strong><i class="far fa-eye"></i>
                    Awaiting Employee Review</strong></p>
            <%}%>
        </div>
        <a href="/admin/audits/<%=audit._id%>" class="btn btn-info">View Audit</a>
        </div>
        <%   }) %>
        <%}%>
</div>         
</div>

                        <% include ../partials/footer %>