<% include ../../partials/header %>

<% if (message) { %>
<div class="alert alert-danger" role="alert">
  <%=message%>
</div>
<% } %>

<h1 class="text-center">Send Audit Review Notification</h1>

<form action="/admin/employees/<%=employee._id%>/notify" , method="POST">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">
  <div class="form-group">
    <label for="pendingAuditNotificationMessage">The following message to <%=employee.firstName%>
      <%=employee.lastName%>. Feel free to customize the text as you see fit.</label>
    <textarea class="form-control" id="pendingAuditNotificationMessage" name="pendingAuditNotificationMessage"
      rows="2"><%=pendingAuditNotificationMessage%></textarea>
  </div>
  <input type="hidden" name="email" value="<%=employee.email%>">
  <input type="hidden" name="employeeId" value="<%=employee._id%>">


  <button class="btn btn-success">Send Notification</button>
</form>
<% include ../../partials/footer %>