<% include ../../partials/header %>
<% if (message) { %>
<div class="alert alert-primary text-center" role="alert">
  <%=message%>
</div>
<% } %>

<div class="card" style="margin-bottom: 1rem">
  <!-- CARD BODY -->
  <div class="card-body">
    <h5 class="card-title text-center">
      <%=employee.firstName%> <%=employee.lastName%>
    </h5>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        <strong>Email Address</strong>: <%=employee.email%>
      </li>
      <li class="list-group-item">
        <strong>Level of Access</strong>:
        <%= employee.isAdmin ? "Administrator" : "Employee" %>
      </li>
    </ul>


    <p class="card-text">
      <%=employee.firstName%> has
      <% if (auditFlaggedNotReviewedCount > 1) { %>
      <%=auditFlaggedNotReviewedCount%> audits that need review.
      <% } else if (auditFlaggedNotReviewedCount === 1) { %>
      <%=auditFlaggedNotReviewedCount%> audit that needs review.
      <% } else { %>
      no flagged audits pending review.
      <% } %>

      <!-- If a notification was generated AND it's less than 1 week old, prevent Admin user from sending a duplicate notice. -->
      <% if (employee.notificationMessageId &&  Date.now() - employee.notificationMessageSentDate < 604800000) { %>
      <p>A
        notification
        was sent on <%=employee.notificationMessageSentDate.toDateString()%>.</p>
      <% } else { %>
      <%  if (auditsFlaggedNotReviewedArray.length > 0) { %>
      <% for (let i = 0; i < auditsFlaggedNotReviewedArray.length; i++) { %>
      <a href="/admin/employees/<%=employee._id%>/notify">Click here to send <%=employee.firstName%> an email
        notification.</a>
      <%   } %>
      <% } %>
      <% } %>

      <%console.log(Date.now() - employee.notificationMessageSentDate < 604800000000)%>
  </div>
</div>
<a href="/admin/employee/<%=employee._id%>/edit" class="btn btn-warning">Update <%=employee.firstName%>'s
  Information</a>
<form action="#" method="POST">
  <button id="deleteBtn" class="btn btn-danger">Delete Employee</button>
</form>


<% include ../../partials/footer %>