<% include ../../partials/header %>


<div class="card" style="margin-bottom: 1rem">
  <!-- CARD BODY -->
  <div class="card-body">
    <h5 class="card-title text-center">
      <%=employee.firstName%> <%=employee.lastName%>
    </h5>
    <ul class="list-group list-group-flush">

      <li class="list-group-item">
        Email Address: <%=employee.email%>
      </li>
      <li class="list-group-item">
        Level of Access:
        <% if (employee.isAdmin) { %>
        <strong>Administrator</strong>
        <% } else { %>
        <strong>Employee</strong>
        <% } %>
      </li>
    </ul>


    <p class="card-text">
      <strong>
        <em>Auditor Comments</em>
      </strong>:
    </p>
    <%audits.forEach(audit => { %>
    <div>
      <%=audit.callNumber%>
    </div>
    <% }) %>

    <p>
      <%=employee.firstName%> has
      <% if (auditFlaggedNotReviewedCount > 1) { %>
      <%=auditFlaggedNotReviewedCount%> audits that need review
      <% } else if (auditFlaggedNotReviewedCount === 1) { %>
      <%=auditFlaggedNotReviewedCount%> audit that needs review
      <% } else { %>
      reviewed all flagged audits.
      <% } %>

      <%  if (auditsFlaggedNotReviewedArray.length > 0) { %>
      <% for (let i = 0; i < auditsFlaggedNotReviewedArray.length; i++) { %>
      (<%=auditsFlaggedNotReviewedArray[0]%>).
      <a href="/admin/employees/<%=employee._id%>/notify" class="btn btn-primary">Notify Employee</a>
      <%   } %>
      <% } %>



  </div>
</div>
<a href="/admin/employee/<%=employee._id%>/edit" class="btn btn-warning">Update Employee Information</a>
<form action="#" method="POST">
  <button id="deleteBtn" class="btn btn-danger">Delete Employee</button>
</form>


<% include ../../partials/footer %>