<% include ../partials/header %>
<% if (message) { %>
<div class="alert alert-success text-center" role="alert">
  <%=`${message} ${employeeName}`%>
</div>
<% } else { %>
<h1 class="text-center">Welcome, <%=employeeName%></h1>
<% } %>



<div class="jumbotron text-center">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione accusantium esse aperiam id harum labore
    similique,
    minima quas tempore culpa ea. Saepe et rerum ipsam molestias! Vel dolores qui natus?</p>
  <a class="btn btn-info" href="#">Button 1</a>
  <a class="btn btn-info" href="#">Button 2</a>
</div>
<% if (audits.length <= 0) {%>
<h2 class="text-center">No Audits</h2>
<%} else {%>
<%  audits.forEach(audit => { %>
<div class="card" style="margin-bottom: 1rem">
  <!-- CARD HEADER -->
  <div class="card-header">
    <% if (audit.auditInProgress) { %>
    <h4 class="text-center text-warning">
      <i class="fas fa-edit"></i>
      In Progress
    </h4>
    <%  } else { %>
    <h4 class="text-center text-success">
      <i class="fas fa-edit"></i>
      Audit Complete
    </h4>
    <%   } %>

    <% if (audit.criticalErrors) { %>
    <h4 class="text-center text-danger">
      <i class="fas fa-exclamation-triangle"></i>
      Critical Errors Found
    </h4>
    <% } else { %>
    <h4 class="text-center text-success">No Critical Errors Found
      <i class="fas fa-check"></i>
    </h4>

    <% } %>


  </div>
  <!-- CARD BODY -->
  <div class="card-body">
    <h5 class="card-title text-center">
      <%=audit.callNumber%>
    </h5>
    <h6 class="card-subtitle">
      <strong>Calltaker Name</strong>:
      <%=audit.calltakerName%>
    </h6>
    <p class="card-body">Audit Status:
      <%=audit.auditStatus%>
    </p>
  </div>
  <a href="/audits/<%=audit._id%>" class="btn btn-info">View Audit</a>
</div>
<%   }) %>

<%}%>


                        <% include ../partials/footer %>