<% include ../partials/header %>
<% if (message) { %>
<div class="alert alert-success text-center" role="alert">
  <%=`${message} ${employeeName}`%>
</div>
<% } else { %>
<h1 class="text-center">Welcome, <%=employeeName%></h1>
<% } %>



<div class="jumbotron text-center">
  <p>This is your personalized home page. Below are all audits that have been assigned to you.</p>
  <p>Any audits that require your review will be marked "Employee Review Needed."</p>
  <a class="btn btn-warning" href="/flagged-for-review">View Audits Flagged for Review</a>
  <a class="btn btn-info" href="#">Button 2</a>
</div>


<% if (audits.length <= 0) {%>
<h2 class="text-center">No Audits</h2>
<%} else {%>
<h2 class="text-center">Viewing
  <% if (audits.length > 1) { %>
  All <%=audits.length%> Audits
  <% } else { %>
  <%=audits.length%> Audit
  <% } %>
</h2>

<div class="container">
  <div class="row">
    <%  audits.forEach(audit => { %>
    <!-- CARDS -->
    <div class="col-md-6 col-lg-4 mx-auto card" style="margin-bottom: 1rem">
      <!-- CARD HEADER -->
      <div class="card-header">
        <% if (audit.auditInProgress) { %>
        <h4 class="text-center text-warning">
          <i class="fas fa-edit"></i>
          Audit In Progress
        </h4>
        <%  } else { %>
        <h4 class="text-center text-success">
          <i class="fas fa-check"></i>
          Audit Complete
        </h4>
        <%   } %>

        <% if (audit.criticalErrors) { %>
        <h4 class="text-center text-danger">
          <i class="fas fa-exclamation-triangle"></i>
          Critical Errors Found
        </h4>
        <% } else { %>
        <h4 class="text-center text-success"><i class="fas fa-check"></i>
          No Critical Errors Found
        </h4>

        <% } %>


      </div>
      <!-- CARD BODY -->
      <div class="card-body">
        <h5 class="card-title text-center">
          <%=audit.callNumber%>
        </h5>
        <p class="lead">
          <strong>Audit Status</strong>:
          <%=audit.auditStatus%>
        </p>
        <p class="lead">
          <strong>Date of Audit</strong>:
          <%=audit.auditDate.toDateString()%>
        </p>

        <% if(audit.flagForReview && !audit.employeeReviewedAudit){ %>
        <p class="lead text-warning">
          <strong><i class="far fa-eye"></i>
            Employee Review Needed</strong></p>
        <%}%>
      </div>
      <a href="/audits/<%=audit._id%>" class="btn btn-info">View Audit</a>
      </div>
      <%   }) %>

      <%}%>
    </div>
  </div>



 <% include ../partials/footer %>