<% include ../partials/header %>

<div class="card" style="margin-bottom: 1rem">
  <!-- CARD HEADER -->
  <% if (audit.criticalErrors) { %>
  <div class="card-header">
    <h2 class="text-center text-danger">CRITICAL</h2>
  </div>
  <% } %>
  <!-- CARD BODY -->
  <div class="card-body">
    <h5 class="card-title text-center">
      <%=audit.callNumber%>
    </h5>
    <h6 class="card-subtitle">
      <strong><em>Calltaker Name</em></strong>:
      <%=audit.calltakerName%>
    </h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Call Date Entered Correctly:
        <% if (audit.callDate) { %>
        <i class="fas fa-check text-success"></i>
        <% } else { %>
        <i class="fas fa-times text-danger"></i>
        <% } %>
      </li>
      <li class="list-group-item">
        Call Reason Entered Correctly:
        <% if (audit.callReason) { %>
        <i class="fas fa-check text-success"></i>
        <% } else { %>
        <i class="fas fa-times text-danger"></i>
        <% } %>
      </li>
      <li class="list-group-item">
        Call Location Entered Correctly:
        <% if (audit.callLocation) { %>
        <i class="fas fa-check text-success"></i>
        <% } else { %>
        <i class="fas fa-times text-danger"></i>
        <% } %>
      </li>
      <li class="list-group-item">
        Call Action Code Entered Correctly:
        <% if (audit.callAction) { %>
        <i class="fas fa-check text-success"></i>
        <% } else { %>
        <i class="fas fa-times text-danger"></i>
        <% } %>
      </li>
    </ul>


    <p class="card-text">
      <strong>
        <em>Auditor Comments</em>
      </strong>:
      <%=audit.auditorComments%>
    </p>

    <% if (audit.employeeComments) { %>
    <p class="card-text">
      <strong><em>Employee Comments</em></strong>:
      <%=audit.employeeComments%>
    </p>
    <% } %>
  </div>
</div>

<!-- Only render the form if the Employee has not previously submitted it. -->
<% if (!audit.employeeReviewedAudit) { %>
<form action="/audits/<%=audit._id%>" method="POST">
  <!-- REMARKS -->
  <div class="form-group">
    <label for="employeeComments">Remarks:
    </label>
    <textarea placeholder="Use this space to provide any comments for the auditor regarding this review (optional)."
      class="form-control" id="employeeComments" name="employeeComments" rows="3"></textarea>
  </div>
  <div class="form-check">
    <input required class="form-check-input" type="checkbox" name="employeeReviewedAudit" id="employeeReviewedAudit"
      value="1">
    <label class="form-check-label" for="employeeReviewedAudit">
      Check this box to acknowledge that you've reviewed this audit.
    </label>
  </div>
  <input type="hidden" name="_csrf" value="<%=csrfToken%>">

  <button class="btn btn-success float-right">Submit</button>
</form>
<% } %>



<% include ../partials/footer %>