<% include partials/header %>
<% include partials/navigation %>
  <div class="container">
    <h1 class="text-primary text-center">Blog Posts</h1>

  <% posts.forEach(post => { %>
    <div class="card mb-3">
      <div class="card-body">
          <h2 class="card-title">
              <%=post.title%>
            </h2>
            <h6 class="card-subtitle text-muted"><%=post.tags%></h6>

            <% if (post.modified > post.created) {      %>
              <p class="card-text text-muted">Created: 
                <%=post.created%>
              </p>
              <p class="card-text text-muted">Modified: 
                <%=post.created%>
              </p>
           <% } else { %>
            <p class="card-text text-muted">Created: 
                <%=post.created%>
              </p>
              <% }%>


            <p class="card-body">
              
              <% if (post.body.length > 145) { %>
                <%-post.body.substring(0,144)%>...
             <% } else { %>
                <%-post.body%>
              <% } %>
              
            </p>
            <a href="blogs/<%=post._id%>" class="btn btn-info float-right">Read More</a>
      </div>
    </div>
    <% }) %>
  </div>


      <% include partials/footer %>